<!DOCTYPE html>
<html>
   <%- include('partials/header') %>

   <body class="bg">
     <script src="scripts/main.js"> </script>

       <%- include('partials/navbar') %>

 <h1 style="color:white">Profile= <%= user.username %></h1>
 <h2 style="color:white"><%= user.username %>'s favourite drink is <%= user.favdrink %></h2>


 <footer>
    <%- include('partials/footer') %>
     </footer>
   </body>
